@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
	background-color: rgb(25, 0, 50);
	color: white;
	font-family: "Open Sans", sans-serif;
	text-shadow: 1px 1px 1px black;
}

h1 {
	letter-spacing: 5px;
	text-align: center;
	text-transform: uppercase;
}

a {
	color: rgb(200, 150, 255);
	text-decoration: none;
	transition: color 0.5s;
}
a:hover {
	color: white;
}

/* Rounded Rectangle Lists */
.rounded-rect-list {
	padding: 0;
	text-align: center;
}
.rounded-rect-list li {
	background-color: rgba(128, 128, 128, 0.5);
	border: 2px solid rgb(128, 128, 128);
	border-radius: 10px;
	display: inline-block;
	margin: 10px;
	padding: 10px;
}

/* Navigation */
nav {
	display: flex;
	height: 50px;
}

nav #avatar-container img {
	border-radius: 50%;
}

nav #nav-spacer {
	flex: 1;
}

nav ul {
	margin: auto 0;
}
nav ul li {
	display: inline-block;
}
nav ul li a {
	padding: 10px 20px;
	transition: background-color 0.5s, color 0.5s;
}
nav ul li a:hover {
	background-color: rgb(75, 0, 150);
}

/* Socials by Website */
.social-github {
	background-color: rgb(16, 0, 0);
}
.social-kaggle {
	background-color: rgb(32, 190, 255);
}
.social-huggingface {
	background-color: black;
}
.social-stackoverflow {
	background-color: rgb(245, 128, 37);
}
.social-reddit {
	background-color: rgb(255, 69, 0);
}
.social-bluesky {
	background-color: rgb(2, 133, 255);
}
.social-mastodon {
	background-color: rgb(99, 100, 255);
}
.social-linkedin {
	background-color: rgb(10, 102, 194);
}

/* Main Page */
#intro {
	text-align: center;
}

/* About Page */
.socials {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
}
.socials li {
	border-radius: 10px;
	display: inline-block;
	margin: 10px;
}
.socials li a {
	border-radius: 10px;
	display: block;
	padding: 10px;
	transition: background-color 0.5s;
}
.socials li a:hover {
	background-color: rgba(255, 255, 255, 0.75);
}
.socials li img {
	display: block;
	width: 50px;
	height: 50px;
}
